html{
  height: 100%;
}
body{
  background: #17ffe9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed


}
.head{
  background-color:transparent;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  height: 50px;
  background-color: #2d394352;
  margin-top: 0px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

}
.navmenu{
  padding-top: 15px;
}
.menu{
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}
.text{
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.about{
  border: none 2px solid;
  width: 750px;
  height: 400px;
  border-radius: 0.99rem;
  background-color: rgba(0, 0, 0, 0.63);
  text-align: center;
}
.bits{
  border: none 2px solid;
  width: 750px;
  height: 350px;
  border-radius: 0.99rem;
  background-color: rgba(0, 0, 0, 0.63);
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.links{
  border: none 2px solid;
  width: 750px;
  height: 350px;
  border-radius: 0.99rem;
  background-color: rgba(0, 0, 0, 0.63);
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.con8{
  border: none 2px solid;
  width: 750px;
  height: 10px;
  border-radius: 0.99rem;
  background: transparent;
  text-align: center;
  margin-bottom: 100px;
}
.title-text{
  font-size: 40px;
  color: white;
}
.icon{
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 100rem;
}
.bits-icon{
  margin-top: 20px;
  height: 150px;
  width: 200px;
  border-radius: 100rem;
}
.links-icon{
  margin-top: 20px;
  height: 150px;
  width: 150px;
}
.fa-check-circle{
  color: lightskyblue;
}
.fa-comment-alt{
  color: lightskyblue;
}
.fa-question-circle{
  color: lightskyblue;
}
.fa-handshake{
  color: lightskyblue;
}
.fa-music{
  color: lightskyblue;
}
.fa-circle{
  color: limegreen;
}
.fa-soundcloud{
  color: #fe8c00;
}
.fa-youtube{
  color: #f83600;
} 
.fa-copyright{
  color: #2F80ED;
}
